/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure elements are spaced correctly */
  background: linear-gradient(135deg, #000000, #ff9a00);
  background-size: cover;
  width: 100vw;
  height: 100vh; /* Use 100vh to ensure full height */
  overflow: hidden;
}

.App-header {
  padding: 20px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.coin-display {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem; /* Uвеличили размер текста */
  color: white;
}

.coin-display img {
  width: 7.5rem; /* Uвеличили размер иконки на 50% */
  height: 7.5rem;
  margin-right: 10px; /* Oтступ между иконкой и текстом */
}

.controls {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 30px; /* Подняли кнопки, чтобы они лежали на прогресс-баре */
  left: 30%; /* Переместили кнопки на 10% вправо */
  width: 60%; /* Убедились, что ширина соответствует прогресс-бару */
}

button, .boost, .earn, .referal {
  margin: 0 2px; /* Минимальное расстояние между кнопками */
  padding: 5.6px 8.4px; /* Уменьшили размер кнопок на 30% */
  font-size: 9.8px; /* Уменьшили размер текста на 30% */
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #ff9a00, #ff6600);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, transform 0.3s;
}

.boost:hover, .earn:hover, .referal:hover {
  background: linear-gradient(135deg, #ff6600, #ff3300);
  transform: translateY(-2px);
}

.boost, .earn, .referal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar-container {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Выровняем элементы по левому краю */
}

.progress-bar {
  width: 90%; /* Уменьшили ширину до 90% */
  height: 30px;
  background-color: transparent;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 10px;
  margin-right: 5%; /* Убедились, что отступ справа совпадает с левым */
  position: relative;
}

.progress-bar__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: orange;
}

.progress-bar__fill {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: black;
  transition: width 0.25s;
}

.progress-bar-container p {
  margin: 0;
  text-align: left; /* Выровняем текст по левому краю */
  color: white;
  width: 100%; /* Убедимся, что текст занимает всю ширину контейнера */
}

.coin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: calc(100vh - 400px); /* Подняли монету выше */
  padding-top: 20px;
}

