/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #000000, #ff9a00);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App-header {
  padding: 20px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.coin-display {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem; /* Увеличили размер текста */
  color: white;
}

.coin-display img {
  width: 7.5rem; /* Увеличили размер иконки на 50% */
  height: 7.5rem;
  margin-right: 10px; /* Отступ между иконкой и текстом */
}

.controls {
  display: flex;
  justify-content: flex-end; /* Выровняли кнопки вправо */
  position: absolute;
  bottom: 30px; /* Подняли кнопки, чтобы они лежали на прогресс-баре */
  right: 20px; /* Отступ справа */
  width: calc(90% - 20px); /* Убедились, что ширина соответствует прогресс-бару */
}

button, .boost, .earn, .referal {
  margin: 0 5px; /* Добавили пространство между кнопками */
  padding: 8px 12px; /* Уменьшили размер кнопок */
  font-size: 14px; /* Уменьшили размер текста */
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #ff9a00, #ff6600);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, transform 0.3s;
}

.boost:hover, .earn:hover, .referal:hover {
  background: linear-gradient(135deg, #ff6600, #ff3300);
  transform: translateY(-2px);
}

.boost, .earn, .referal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar-container {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Выровняем элементы по левому краю */
}

.progress-bar-container p {
  margin: 0;
  text-align: left; /* Выровняем текст по левому краю */
  color: white;
  width: 100%; /* Убедимся, что текст занимает всю ширину контейнера */
}

.coin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: calc(100vh - 400px); /* Подняли монету выше */
  padding-top: 20px;
}
