.Podsos
{ 
    height: 47%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.click-value {
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    pointer-events: none;
    user-select: none;
}