.coin {
    cursor: pointer;
    width: 300px; /* Увеличено в 3 раза */
    height: 300px; /* Увеличено в 3 раза */
    margin: 20px auto;
    transition: transform 0.2s; /* Плавный переход */
    perspective: 1000px; /* Дает эффект 3D */
}

.coin img {
    width: 100%;
    height: 100%;
    display: block;
    transform-style: preserve-3d; /* Сохраняет 3D-преобразование */
}
