/* ProgressBar.css */
.progress-bar {
    width: 100%; /* Уменьшили ширину до 95% */
    height: 10%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}


