.progress-bar {
    width: 90%; 
    height: 30px;
}

.progress-bar__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black; 
}

.progress-bar__fill {
    position: absolute;
    width: 100%; 
    height: 100%;
    background-color: orange;
    transition: width 0.25s;
}
