.progress-bar {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 20px;
    position: relative;
}

.progress-bar__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4caf50; /* Начальный цвет прогресса */
}

.progress-bar__fill {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #ddd; /* Цвет по мере уменьшения прогресса */
    transition: width 0.25s;
}
